<div class="container jumbotron"ng-controller="addSocietyMaintenanceDetails">
    
        <center><h3>MAINTENANCE DETAILS</h3></center> 
   
    <table class="table  table-striped table-hover jumbotron">

        <tbody>
            <tr class="success">
                <td>Muncipal Tax:</td>
                <td><input type="number" required ng-model="memberDetails.municipal_tax"></td>
                <td>Sinking Fund:</td>
                <td><input type="number" ng-model="memberDetails.sinking_fund"></td>
            </tr>
            <tr class="success">
                <td>Service Charges:</td>
                <td><input type="number" ng-model="memberDetails.service_charges"></td>
                <td>Repaire and Maintenance:</td>
                <td><input type="number" ng-model="memberDetails.rep_and_maintenance"></td>
            </tr>
            <tr class="success">
                <td>Electric Charges:</td>
                <td><input type="number" ng-model="memberDetails.electric_charges"></td>
                <td>Water Charges:</td>
                <td><input type="number" ng-model="memberDetails.water_charges"></td>
            </tr>
            <tr class="success">
                <td>Insurance:</td>
                <td><input type="number" ng-model="memberDetails.insurance"></td>
                <td>Bank Charges:</td>
                <td><input type="number" ng-model="memberDetails.bank_charges"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary btn-md" style="width: 50%" ng-click="dbInsertMemberData();">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
