<div class="container" ng-controller="addSocietyAccount">
    <table class="table table-striped  table-hover jumbotron">
        <tbody>
            <tr class="success">
                <td>Account Code:</td>
                <td><input type="number"></td>
                <td>Name:</td>
                <td><input type="number"></td>
            </tr>
        </tbody>
    </table>
    <table class="table  table-striped table-hover jumbotron">
        <tbody>
            <tr class="Info">
                <td>Opening Balance:</td>
                <td><input type="number"></td>
            </tr>
            <tr class="Info">
                <td>Previous Year Balance:</td>
                <td><input type="number"></td>
            </tr>

            <tr class="Info">
                <td>Particular:</td>
                <td><textarea class="form-control"></textarea></td>
                
            </tr>
             <tr class="Info">
                <td></td>
                <td><button class="btn btn-primary btn-md" style="width: 50%">Submit</button></td>
            </tr>
        </tbody>

    </table>
    
</div>