<div class="container">
    <table class="table   table-hover jumbotron">
        <tbody>
            <tr>
                <td>Receipt No :</td>
                <td><input type="text"></td>
                
            </tr>
            
            <tr>
                <td>Member Name :</td>
                <td><input type="text"></td>
                
            </tr>

            <tr>
                <td>Receipt Date :</td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>FLAT No :</td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>By Cheque No. </td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>Amount</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td> </td>
                <td> <button class="btn btn-primary btn-md" style="width: 25%">Generate</button></td>
            </tr>
        </tbody>
    </table>
    
</div>