<div class="container" style="margin-top:2%;">

    <nav class="navbar navbar-default" style="margin-top: 30px;">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <div class="row">
                    <ul class="nav navbar-nav" style="font-size: large;font-family: fantasy;">
                        <li class="dropdown" style="margin-left:80px;">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="width: 320px;">Master</a>
                            <ul class="dropdown-menu">
                                <li><a role="button" ng-click="addMemPage();">Add Member</a></li>
                                <li><a role="button" ng-click="updateMemberPage();">Modify Memeber</a></li>
                                <li><a role="button" ng-click="memListPage();">Member list</a></li>
                                <li><a role="button" ng-click="addSocAccPage();">Add Society Account</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="width: 320px;">Transaction</a>
                            <ul class="dropdown-menu">
                                <li><a role="button" ng-click="memberBillPage();">Maintenance Bill</a></li>
                                <li><a role="button" ng-click="memBillReceiptPage();">Member Bill Receipt</a></li>
                                <li><a role="button" ng-click="socVoucherPage();">Society Voucher</a></li>
                                <li><a role="button" ng-click="socReceiptPage();">Society Receipt</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 320px;">Report</a>
                            <ul class="dropdown-menu">
                                <li><a role="button">Master Report</a></li>
                                <li><a role="button">Transaction Report</a></li>
                                <li><a role="button">Maintenance Report</a><li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <table class="table   table-hover jumbotron">
        <tbody>
            <tr>
                <td>RECEPT NO:</td>
                <td><input type="text"></td>
                <td>DATE:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>FLAT NO:</td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>Received with Thanks from </td>
                <td><input type="number"></td>
            </tr>

            <tr>
                <td>A Sum of Rs. </td>
                <td><input type="number"></td>
            </tr>

            <tr>
                <td>By Cheque No. </td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>RS.</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary btn-lg">Generate</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-left: 800px;margin-top: 104px;font-size: x-large;">
        <label>Secretary / Treasurer</label>
    </div>
</div>