<div class="container" style="margin-top:2%;">
    <table class="table   table-hover jumbotron">
        <tbody>
            <tr>
                <td>RECEPT NO:</td>
                <td><input type="text"></td>
                <td>DATE:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>FLAT NO:</td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>Received with Thanks from </td>
                <td><input type="number"></td>
            </tr>

            <tr>
                <td>A Sum of Rs. </td>
                <td><input type="number"></td>
            </tr>

            <tr>
                <td>By Cheque No. </td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>RS.</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary btn-lg">Generate</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-left: 800px;margin-top: 104px;font-size: x-large;">
        <label>Secretary / Treasurer</label>
    </div>
</div>