<div class="container" >
    <table class="table table-striped  table-hover jumbotron">
        <tbody>
            <tr class="success">
                <td>Payment VoucherNo:</td>
                <td><input type="text"></td>
                <td>Date:</td>
                <td><input type="date"></td>
            </tr>
            <tr class="success">
                <td>Pay To:</td>
                <td><textarea class="form-control"></textarea> </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="success">
                <td>Cheque Details (Cheque No.) :</td>
                <td><input type="text"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <table class="table  table-striped table-hover jumbotron">
        <tbody>
            <tr class="Info">
                <td>Account Code:</td>
                <td><input type="number"><button class="btn btn-primary btn-md" style="margin-left: 5px;">Generate</button></td>
            </tr>
            <tr class="Info">
                <td>Name:</td>
                <td><input type="text"></td>
            </tr>
            <tr class="Info">
                <td>Amount:</td>
                <td><input type="number"></td>
            </tr>

            <tr class="Info">
                <td>Particular:</td>
                <td>
                    <textarea class="form-control" style="width: 50%"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td> <button class="btn btn-primary btn-md" style="width: 50%">Generate</button></td>
            </tr>
        </tbody>
    </table>
</div>