body{
     background-image: url("../img/default_home_image.jpg");
}

.my-h1{
        font-family: fantasy;
    color: #cee2ed;
        font-size: 50px;
        margin-left: 60px;

}

.log-btn{
        margin-top: 25px;
    font-family: inherit;
    width: 85px;
    font-size: initial;
    font-weight: bold;
    height: 47px;
}

.jumbo{
        background-image: transparent;
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #93959d;
    background: rgba(241, 241, 241, 0);
}