<!-- <html>
     <head>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    </head>  -->
    <body>

        <nav class="navbar navbar-default">
            <div class="navbar-brand">
                <a class="navbar-header" style="font-family:cursive ">Society Account</a>
            </div>
        </nav>

        <div class="container">
            <table class="table table-striped  table-hover jumbotron">
                <tbody>
                    <tr class="success">
                        <td>Account Code:</td>
                        <td><input type="number"></td>
                        <td>Name:</td>
                        <td><input type="number"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table class="table  table-striped table-hover jumbotron">
                <tbody >
                    <tr class="Info">
                        <td>Opening Balance:</td>
                        <td><input type="number"></td>                        
                    </tr>
                    <tr class="Info">
                        <td>Previous Year Balance:</td>
                        <td><input type="number" ></td>
                    </tr>

                    <tr class="Info">
                        <td>Particular:</td>
                        <td>
                            <textarea class="form-control"></textarea>
                        </td>
                    </tr>
                </tbody>

            </table>
            <button class="btn btn-primary btn-lg" style="margin-left: 889px;">Submit</button>
        </div>

       
        <nav class="navbar navbar-default navbar-fixed-bottom" >
            <div class="navbar-brand">
                <a class="navbar-header" style="font-family:cursive ">HSMMS</a>
            </div>
        </nav>

    </body>
