
<!-- <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Navbar Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    </head> -->
    <body>

        <div class="container">

            <!-- Static navbar -->
            <nav class="navbar navbar-default" style="margin-top: 30px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">HSMS</a>
                    </div>


                    <div id="navbar" class="navbar-collapse collapse">
                        <div class="row">
                            <ul class="nav navbar-nav" style="font-size: large;font-family: fantasy;">

                                <li class="active"><a href="#">Home</a></li>
                                <li class="dropdown" style="margin-left:130px;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 258px;">Master</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Member</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Add Member</a></li>
                                                <li><a href="#">Modify Memeber</a></li>
                                                <li><a href="#">Member list</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" >Account</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 258px;">Transaction</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Maintenance Bill</a></li>
                                        <li><a href="#">Bill Receipt</a></li>
                                        <li><a href="#">Society Voucher</a></li>
                                        <li><a href="#">Society Receipt</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 258px;">Report</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Master Report</a></li>
                                        <li><a href="#">Transaction Report</a></li>
                                        <li><a href="#">Maintenance Report</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.row closed-->
                    </div><!--/.nav-collapse -->


                </div><!--/.container-fluid -->
            </nav>

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Navbar example</h1>
                <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
                </p>
            </div>
        </div>
    </body>


