<div>

    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default" style="margin-top: 30px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#">HSMS</a>
                </div>


                <div id="navbar" class="navbar-collapse collapse">
                    <div class="row">
                        <ul class="nav navbar-nav" style="font-size: large;font-family: fantasy;">

                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown" style="margin-left:130px;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 258px;">Master</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false">Member</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Add Member</a></li>
                                            <li><a href="#">Modify Memeber</a></li>
                                            <li><a href="#">Member list</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Account</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 258px;">Transaction</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Maintenance Bill</a></li>
                                    <li><a href="#">Bill Receipt</a></li>
                                    <li><a href="#">Society Voucher</a></li>
                                    <li><a href="#">Society Receipt</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 258px;">Report</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Master Report</a></li>
                                    <li><a href="#">Transaction Report</a></li>
                                    <li><a href="#">Maintenance Report</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.row closed-->
                </div>
                <!--/.nav-collapse -->


            </div>
            <!--/.container-fluid -->
        </nav>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            
        </div>
    </div>
</div>