<div class="container" style="margin-top: 2%;">

    <nav class="navbar navbar-default" style="margin-top: 30px;">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <div class="row">
                    <ul class="nav navbar-nav" style="font-size: large;font-family: fantasy;">
                        <li class="dropdown" style="margin-left:80px;">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="width: 320px;">Master</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown" >
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Member</a>
                                    <ul class="dropdown-menu">
                                        <li><a   role="button">Add Member<a></li>
                                        <li><a   role="button">Modify Memeber</a></li>
                                        <li><a   role="button">Member list</a></li>
                                    </ul>
                                </li>
                                <li><a  role="button">Account</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="width: 320px;">Transaction</a>
                            <ul class="dropdown-menu">
                                <li><a   role="button">Maintenance Bill</a></li>
                                <li><a   role="button" ng-click="memberBillReceipt();">Member Bill Receipt</a></li>
                                <li><a   role="button">Society Voucher</a></li>
                                <li><a   role="button">Society Receipt</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 320px;">Report</a>
                            <ul class="dropdown-menu">
                                <li><a   role="button">Master Report</a></li>
                                <li><a   role="button">Transaction Report</a></li>
                                <li><a   role="button">Maintenance Report</a><li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.row closed-->
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="jumbotron">

    </div>
</div>