
<div>

    <div class="container">
        <table class="table   table-hover jumbotron">
            <tbody>
                <tr>
                    <td>NAME:</td>
                    <td><input type="text"></td>
                    <td>BILL NO:</td>
                    <td><input type="text"></td>

                </tr>


                <tr >
                    <td>PARTICULAR:</td>
                    <td><textarea rows="2" style="width: 212px;"></textarea>
                    <td>Sq Ft:</td>
                    <td><input type="text"></td>

                </tr>
                <tr>
                    <td>DATE:</td>
                    <td><input type="date"></td>
                </tr>

            </tbody>
        </table>

        <table class="table table-striped  table-hover jumbotron">
            <tbody>
                <tr class="success">
                    <td>Nature of Charges</td>
                    <td>Amount</td>
                </tr>
                <tr class="success">
                    <td>Service Charge</td>
                    <td><input type="number"></td>
                </tr>
                <tr class="success">
                    <td>Electric Charge</td>
                    <td><input type="number"></td>
                </tr>
                <tr class="success">
                    <td>Sinking Fund</td>
                    <td><input type="number"></td>
                </tr>
                <tr class="success">
                    <td>Repair & Maintainance </td>
                    <td><input type="number"></td>
                </tr>
                <tr class="success">
                    <td>Water Charges</td>
                    <td><input type="number"></td>
                </tr>
                <tr class="success">
                    <td>Non Occupancy Charges</td>
                    <td><input type="number"></td>
                </tr>
                <tr class="success">
                    <td>Interest</td>
                    <td><input type="number"></td>
                </tr>

                <tr class="success">
                    <td>Total</td>
                    <td><input type="number"></td>
                </tr>


            </tbody>

        </table>

        <div>
            <label>RUPEE:</label>
        </div>
    </div>


</div>